<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>
        {% if title %}
           FoodHub |{{title}}
        {% else %}
           FoodHub 
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    
    
</head>
<body>
<nav class="nav justify-conten-left">
  <a class="nav-link active" href="/" class="logo">FoodHub</a>
  <a class="nav-link disabled" href="#">Categories</a> 
</nav>
    {% block content %}
    {% endblock content %}
</body>
</html>